In [1]:
# Lists
names_list = ['Binay Raut', 'Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut']

# Inspect the type of the object. It should be list
print(type(names_list))

# Print all items in the list
print(names_list)

# Print first item on the list
print(names_list[0])

# Print the length of the list
print(len(names_list))

# Add an item 'Natasha Khadka' to the list and print the updated list
names_list.append('Natasha Khadka')
print(names_list)

# Remove an item 'Binay Raut' to the list and print the updated list
names_list.remove('Binay Raut')
print(names_list)

## Remove the second item from the list to the list and print the updated list
names_list.pop(1)
print(names_list)

# Reverse the elements of the list
names_list.reverse()
print(names_list)

# Count number of times 'Abiral Raut' appears in the list
print(names_list.count('Abiral Raut'))

# Sort the list alphabetically from a-z
print(sorted(names_list))

# Reverse Sort the list alphabetically from z-a
print(sorted(names_list, reverse=True))

# Another way to sort the list
names_list.sort()
print(names_list)

<class 'list'>
['Binay Raut', 'Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut']
Binay Raut
5
['Binay Raut', 'Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut', 'Natasha Khadka']
['Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut', 'Natasha Khadka']
['Abiral Raut', 'Jane Roe', 'Abiral Raut', 'Natasha Khadka']
['Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut']
2
['Abiral Raut', 'Abiral Raut', 'Jane Roe', 'Natasha Khadka']
['Natasha Khadka', 'Jane Roe', 'Abiral Raut', 'Abiral Raut']
['Abiral Raut', 'Abiral Raut', 'Jane Roe', 'Natasha Khadka']

In [2]:
car_list = ['Toyota','Honda','Ford','BMW','Audi','Honda','Toyota']

car_list.append('Toyota')

print(car_list)

['Toyota', 'Honda', 'Ford', 'BMW', 'Audi', 'Honda', 'Toyota', 'Toyota']

In [ ]:
car_list.remove('Toyota')

print(car_list)

['Honda', 'Ford', 'BMW', 'Audi', 'Honda', 'Toyota', 'Toyota']

In [ ]:
car_list.reverse()
print(car_list)

['Toyota', 'Toyota', 'Honda', 'Audi', 'BMW', 'Ford', 'Honda']

In [ ]:
car_list.pop()

'Honda'

In [ ]:
car_list

['Toyota', 'Toyota', 'Honda', 'Audi', 'BMW', 'Ford']

In [ ]:
car_list.pop(0)

'Toyota'

In [ ]:
car_list.pop(3)

'BMW'

In [ ]:
car_list

['Toyota', 'Honda', 'Audi', 'Ford']

In [ ]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [ ]:
car_list.insert(0,'Honda')

In [ ]:
car_list

['Honda', 'Toyota', 'Honda', 'Audi', 'Ford']

In [ ]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [ ]:
american_car_list = ['Ford','Dodge','Chevy','Lincoln']
car_list.extend(american_car_list)
car_list

['Honda',
 'Toyota',
 'Honda',
 'Audi',
 'Ford',
 'Ford',
 'Dodge',
 'Chevy',
 'Lincoln']

In [ ]:
car_list2 = car_list.copy()
car_list2

['Honda',
 'Toyota',
 'Honda',
 'Audi',
 'Ford',
 'Ford',
 'Dodge',
 'Chevy',
 'Lincoln']

In [ ]:
car_list2.clear()
car_list2

[]

In [ ]:
### Using List as Queue

In [ ]:
from collections import deque

names_list_queue = deque(names_list.copy())
names_list_queue

deque(['Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut'])

In [ ]:
names_list_queue.append('Biplav Raut')
names_list_queue

deque(['Natasha Khadka',
       'Abiral Raut',
       'Jane Roe',
       'Abiral Raut',
       'Biplav Raut'])

In [ ]:
names_list_queue.appendleft('Nimesh Raut')
print(names_list_queue)

deque(['Nimesh Raut', 'Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut', 'Biplav Raut'])

In [ ]:
names_list_queue.pop()

'Biplav Raut'

In [ ]:
names_list_queue.popleft()

'Nimesh Raut'

In [ ]:

print(names_list_queue)
names_list_queue.rotate()
print(names_list_queue)
names_list_queue.rotate()
print(names_list_queue)

deque(['Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut'])
deque(['Abiral Raut', 'Natasha Khadka', 'Abiral Raut', 'Jane Roe'])

In [ ]:
import pandas as pd
car1 = ['Honda','Pilot','White',2019]
car2 = ['Toyota','Corolla','Green',2021]

df_cars = pd.DataFrame(data=[car1,car2],columns=["Make","Model","Color","Year"])

df_cars

     Make    Model  Color    Year
0   Honda    Pilot   2019     NaN
1  Toyota  Corolla  Green  2021.0

In [ ]:
numbers = [5,200,29,35]



def get_sum(num_list):
    sum = 0
    for number in num_list:
        sum += number
    return sum

get_sum(numbers)

269

In [ ]:

numbers = [5,200,29,35]


def bubblesort_numbers(num_list):
    num_len = len(num_list)
    counter = 1 # This counter tracks sort progress. Or how many items in the list has been sorted and in thier desired position.
    run_counter = 1 # All up run counter. 
    print(r'start with',num_list) # Print the start list to be sorted.
    for i in range(num_len-1): # Outer Loop start
        for j in range(num_len-counter): # Inner Loop start. Range of this is length minus the counter to track sort progress. 
        # We can also use range(num_len-i-1)
            if num_list[j]>num_list[j+1]: # Evaluate values in two position at a time. Switch positions as needed.
                temp = num_list[j] 
                num_list[j] = num_list[j+1]
                num_list[j+1] = temp    
            else:
                pass
            print(r'Iteration #' , run_counter,'Outer Iteration',counter, num_list, )
            run_counter+=1
        print(r'The item on the position #', num_len-counter+1,'should be in its desired position.')
        counter+=1
    print(r'The item on the position # 1 should be in its deisred position. The list should be sorted now!')
        
bubblesort_numbers(numbers)

start with [5, 200, 29, 35]
Iteration # 1 Outer Iteration 1 [5, 200, 29, 35]
Iteration # 2 Outer Iteration 1 [5, 29, 200, 35]
Iteration # 3 Outer Iteration 1 [5, 29, 35, 200]
The item on the position # 4 should be in its desired position.
Iteration # 4 Outer Iteration 2 [5, 29, 35, 200]
Iteration # 5 Outer Iteration 2 [5, 29, 35, 200]
The item on the position # 3 should be in its desired position.
Iteration # 6 Outer Iteration 3 [5, 29, 35, 200]
The item on the position # 2 should be in its desired position.
The item on the position # 1 should be in its deisred position. The list should be sorted now!

In [ ]:
number_list = [2500,200,145,23,15,12,9]
bubblesort_numbers(number_list)

start with [2500, 200, 145, 23, 15, 12, 9]
Iteration # 1 Outer Iteration 1 [200, 2500, 145, 23, 15, 12, 9]
Iteration # 2 Outer Iteration 1 [200, 145, 2500, 23, 15, 12, 9]
Iteration # 3 Outer Iteration 1 [200, 145, 23, 2500, 15, 12, 9]
Iteration # 4 Outer Iteration 1 [200, 145, 23, 15, 2500, 12, 9]
Iteration # 5 Outer Iteration 1 [200, 145, 23, 15, 12, 2500, 9]
Iteration # 6 Outer Iteration 1 [200, 145, 23, 15, 12, 9, 2500]
The item on the position # 7 should be in its desired position.
Iteration # 7 Outer Iteration 2 [145, 200, 23, 15, 12, 9, 2500]
Iteration # 8 Outer Iteration 2 [145, 23, 200, 15, 12, 9, 2500]
Iteration # 9 Outer Iteration 2 [145, 23, 15, 200, 12, 9, 2500]
Iteration # 10 Outer Iteration 2 [145, 23, 15, 12, 200, 9, 2500]
Iteration # 11 Outer Iteration 2 [145, 23, 15, 12, 9, 200, 2500]
The item on the position # 6 should be in its desired position.
Iteration # 12 Outer Iteration 3 [23, 145, 15, 12, 9, 200, 2500]
Iteration # 13 Outer Iteration 3 [23, 15, 145, 12, 9, 200, 2500]
Iteration # 14 Outer Iteration 3 [23, 15, 12, 145, 9, 200, 2500]
Iteration # 15 Outer Iteration 3 [23, 15, 12, 9, 145, 200, 2500]
The item on the position # 5 should be in its desired position.
Iteration # 16 Outer Iteration 4 [15, 23, 12, 9, 145, 200, 2500]
Iteration # 17 Outer Iteration 4 [15, 12, 23, 9, 145, 200, 2500]
Iteration # 18 Outer Iteration 4 [15, 12, 9, 23, 145, 200, 2500]
The item on the position # 4 should be in its desired position.
Iteration # 19 Outer Iteration 5 [12, 15, 9, 23, 145, 200, 2500]
Iteration # 20 Outer Iteration 5 [12, 9, 15, 23, 145, 200, 2500]
The item on the position # 3 should be in its desired position.
Iteration # 21 Outer Iteration 6 [9, 12, 15, 23, 145, 200, 2500]
The item on the position # 2 should be in its desired position.
The item on the position # 1 should be in its deisred position. The list should be sorted now!

In [ ]:
numbers = [5,200,29,35]

print(len(numbers))

4

In [ ]:
def bubbleSort( theSeq ):
    n = len( theSeq )

    for i in range( n - 1 ) :
        flag = 0

        for j in range(n - 1) :
            
            if theSeq[j] > theSeq[j + 1] : 
                tmp = theSeq[j]
                theSeq[j] = theSeq[j + 1]
                theSeq[j + 1] = tmp
                flag = 1

        if flag == 0:
            break

    return theSeq

el = [21,6,9,33,3] 

result = bubbleSort(el)

print (result)

[3, 6, 9, 21, 33]

In [3]:
def fibonacci_less_than(num):
    output_list=[]
    if num>=1:
        output_list.append(0)
        output_list.append(1)
        while output_list[-1] < num:
            next_num = output_list[-1]+output_list[-2]
            if next_num <= num:
                output_list.append(next_num) 
            else:
                break

    return output_list

fibonacci_less_than(7)

[0, 1, 1, 2, 3, 5]

In [5]:
fibonacci_less_than(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [14]:
def fibonacci(num):
    output_list=[0,1]
    list_len = len(output_list)
    if num == 1:
        return 0
    while list_len<num:
        next_num = output_list[-1]+output_list[-2]
        output_list.append(next_num) 
        list_len = len(output_list)


    return output_list

fibonacci(1)

0

In [19]:
fibonacci(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [17]:
def merge_sort(num_list):

    # Stopping point
    if len(num_list)<2: # This is the lowest granual list size, wehre the list could be of length 1 or 0 (empty list).
        return num_list # If the list size is 1 or 0, no sorting is necessary and you can simply return the list.
    
    left_list = num_list[:int(len(num_list)/2)] # Seperate the list in two halves and store them in left and right list.
    right_list = num_list[int(len(num_list)/2):] # If the list has odd number of items, the right list will have the extra item.

    left_list = merge_sort(left_list) # Recursively run the merge_sort function to the left half of the list untill you get to the "Stopping Point"
    right_list = merge_sort(right_list) # Same thing happens to the right hand side of the list.

    return merge(left_list, right_list)  # Run the merge function which sorts and merges two lists of any given size.


def merge(left_list, right_list):
    l_len = len(left_list) # Get the length of the left side of the list
    r_len = len(right_list) # Get the length of the right side of the list
    sorted_list =[] # Create an empty list to store the output
    i = 0 # To be used in following where loop. To evaulate left_list
    j= 0 # To be used in following where loop. To evaluate right_list
    # i=j=0 # Alternative way to initialize mulitple vairables
    
    # Start while loop 
    while i < l_len and j < r_len: # Run this loop unitll at least one of the list has been evaluated completely
        if left_list[i] <= right_list[j]: # Compare the items and check if the item in the left list is smaller than the item in right list
            sorted_list.append(left_list[i]) # Append the item in the left list to the output 
            i+=1 # Since the item in the left list is evaluated, and adjucicated to be lower, increase "i" by 1 to move to next position.
        elif right_list[j] <= left_list[i]: # Compare the items and check if the item in the right list is smaller than the item in left list
            sorted_list.append(right_list[j]) # Append the item in the right list to the output 
            j+=1 # Since the item in the right list is evaluated, and adjucicated to be lower, increase "j" by 1 to move to next position.
    # End of while loop
    # At this point, we should have all items of one of the lists, either right_list or left_list stored in "sorted_list".  
    
    # Since we still have to add the remaining items in the other list, and it could be any one of the two list, we start evaluating both lists
    if i<j: # Check whether we stored all items from left or right list. If this is true, all items from right list has been stored in sorted list
        while i<l_len: # While loop to iterate through the rest of the items in left list.
            sorted_list.append(left_list[i]) # Add all remaining items in sorted list
            i+=1
    else: # Do the same as above for the right list
        while j<r_len:
            sorted_list.append(right_list[j])
            j+=1
    
    return(sorted_list)

In [18]:
my_list = [1,2,3,4,5,6,7,8,9]
# merge(my_list[:int(len(my_list)/2)],my_list[int(len(my_list)/2):])
# my_list[:int(len(my_list)/2)]

# merge_sort(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
my_list = [6,7,8,9,1,2,3,4,5]
# merge(my_list[:int(len(my_list)/2)],my_list[int(len(my_list)/2):])
merge_sort(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# my_list = [1,3,4,5,6,7,3,8,9]
my_list = [1,3]
print(list_h1(my_list,int(len(my_list)/2)))
print(list_h2(my_list,int(len(my_list)/2)))

[1]
[3]

In [29]:
# Recursive Algorithm in Python
# Recursive algorithm is an algorithm that calls itself by passing a reduced version of input variable
# Use Recursive function in Python
# 
# Example calculate factorial of a positive integer (3! == 3*2*1)

def factorial(num):
    if num <=1:
        return 1
    else:
        return num * factorial(num-1)

In [34]:
# factorial(1)
factorial(3)

6

In [17]:
num = 1
print(num/2)
print(num//2)
print(num%2)

0.5
0
1