In [16]:
# Lists
names_list = ['Binay Raut', 'Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut']

# Inspect the type of the object. It should be list
print(type(names_list))

# Print all items in the list
print(names_list)

# Print first item on the list
print(names_list[0])

# Print the length of the list
print(len(names_list))

# Add an item 'Natasha Khadka to the list and print the updated list
names_list.append('Natasha Khadka')
print(names_list)

# Remove an item 'Binay Raut' to the list and print the updated list
names_list.remove('Binay Raut')
print(names_list)

## Remove the second item from the list to the list and print the updated list
names_list.pop(1)
print(names_list)

# Reverse the elements of the list
names_list.reverse()
print(names_list)

# Count number of times 'Abiral Raut' appears in the list
print(names_list.count('Abiral Raut'))

# Sort the list alphabetically from a-z
print(sorted(names_list))

# Reverse Sort the list alphabetically from z-a
print(sorted(names_list, reverse=True))

# Another way to sort the list
names_list.sort()
print(names_list)

<class 'list'>
['Binay Raut', 'Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut']
Binay Raut
5
['Binay Raut', 'Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut', 'Natasha Khadka']
['Abiral Raut', 'John Doe', 'Jane Roe', 'Abiral Raut', 'Natasha Khadka']
['Abiral Raut', 'Jane Roe', 'Abiral Raut', 'Natasha Khadka']
['Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut']
2
['Abiral Raut', 'Abiral Raut', 'Jane Roe', 'Natasha Khadka']
['Natasha Khadka', 'Jane Roe', 'Abiral Raut', 'Abiral Raut']
['Abiral Raut', 'Abiral Raut', 'Jane Roe', 'Natasha Khadka']

In [4]:
car_list = ['Toyota','Honda','Ford','BMW','Audi','Honda','Toyota']

car_list.append('Toyota')

print(car_list)

['Toyota', 'Honda', 'Ford', 'BMW', 'Audi', 'Honda', 'Toyota', 'Toyota']

In [3]:
car_list.remove('Toyota')

print(car_list)

['Honda', 'Ford', 'BMW', 'Audi', 'Honda', 'Toyota', 'Toyota']

In [4]:
car_list.reverse()
print(car_list)

['Toyota', 'Toyota', 'Honda', 'Audi', 'BMW', 'Ford', 'Honda']

In [5]:
car_list.pop()

'Honda'

In [6]:
car_list

['Toyota', 'Toyota', 'Honda', 'Audi', 'BMW', 'Ford']

In [7]:
car_list.pop(0)

'Toyota'

In [9]:
car_list.pop(3)

'BMW'

In [10]:
car_list

['Toyota', 'Honda', 'Audi', 'Ford']

In [13]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [14]:
car_list.insert(0,'Honda')

In [16]:
car_list

['Honda', 'Toyota', 'Honda', 'Audi', 'Ford']

In [17]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [18]:
american_car_list = ['Ford','Dodge','Chevy','Lincoln']
car_list.extend(american_car_list)
car_list

['Honda',
 'Toyota',
 'Honda',
 'Audi',
 'Ford',
 'Ford',
 'Dodge',
 'Chevy',
 'Lincoln']

In [20]:
car_list2 = car_list.copy()
car_list2

['Honda',
 'Toyota',
 'Honda',
 'Audi',
 'Ford',
 'Ford',
 'Dodge',
 'Chevy',
 'Lincoln']

In [21]:
car_list2.clear()
car_list2

[]

In [22]:
### Using List as Queue

In [25]:
from collections import deque

names_list_queue = deque(names_list.copy())
names_list_queue

deque(['Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut'])

In [27]:
names_list_queue.append('Biplav Raut')
names_list_queue

deque(['Natasha Khadka',
       'Abiral Raut',
       'Jane Roe',
       'Abiral Raut',
       'Biplav Raut'])

In [28]:
names_list_queue.appendleft('Nimesh Raut')
print(names_list_queue)

deque(['Nimesh Raut', 'Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut', 'Biplav Raut'])

In [29]:
names_list_queue.pop()

'Biplav Raut'

In [30]:
names_list_queue.popleft()

'Nimesh Raut'

In [31]:

print(names_list_queue)
names_list_queue.rotate()
print(names_list_queue)
names_list_queue.rotate()
print(names_list_queue)

deque(['Natasha Khadka', 'Abiral Raut', 'Jane Roe', 'Abiral Raut'])
deque(['Abiral Raut', 'Natasha Khadka', 'Abiral Raut', 'Jane Roe'])

In [4]:
import pandas as pd
car1 = ['Honda','Pilot','White',2019]
car2 = ['Toyota','Corolla','Green',2021]

df_cars = pd.DataFrame(data=[car1,car2],columns=["Make","Model","Color","Year"])

df_cars

     Make    Model  Color    Year
0   Honda    Pilot   2019     NaN
1  Toyota  Corolla  Green  2021.0

In [20]:
numbers = [5,200,29,35]

def get_sum(num_list):
    sum = 0
    for number in num_list:
        sum += number
    return sum

get_sum(numbers)

269

In [36]:
def bubblesort_numbers(num_list):
    num_len = len(num_list)
    pos = 0
    counter = 1
    run_counter = 1
    print(r'start with',num_list)
    for item in range(num_len-1):
        for pos in range(num_len-counter):
            if num_list[pos]>num_list[pos+1]:
                temp = num_list[pos]
                num_list[pos] = num_list[pos+1]
                num_list[pos+1] = temp    
            else:
                pass
            print(r'Iteration #' , run_counter,' Outer Iteration',counter, num_list, )
            run_counter+=1
        counter+=1
        

bubblesort_numbers(numbers)

start with [5, 29, 35, 200]
Iteration # 1  Outer Iteration 1 [5, 29, 35, 200]
Iteration # 2  Outer Iteration 1 [5, 29, 35, 200]
Iteration # 3  Outer Iteration 1 [5, 29, 35, 200]
Iteration # 4  Outer Iteration 2 [5, 29, 35, 200]
Iteration # 5  Outer Iteration 2 [5, 29, 35, 200]
Iteration # 6  Outer Iteration 3 [5, 29, 35, 200]

In [38]:
number_list = [9,200,15,23,12,145,2500]